.ui-droppable.ui-state-default, 
.ui-sortable.ui-state-default {
	background: #EEEEEE;
	border: solid 1px #CCCCCC;
	min-height: 100px;
	padding: 20px 0;
}

.ui-droppable.ui-state-hover, 
.ui-sortable.ui-state-hover {
	background: #CCCCCC;
	border: solid 1px #7F7F7F;
}
.cke_editable p:only-child{
	min-height: 70px;
}
.templateHolder {
	border: solid 1px #EEE;
	padding: 20px;
}
.templateHolder .panel {
	position: relative;
	border-radius: 0;	
	border: solid 1px #fff;
	box-shadow: 0 0 0 0;
}
.templateHolder .panel:hover {
	border: solid 1px #ddd;
}
.templateHolder .panel-heading {
    background: none repeat scroll 0 0 #cccccc;
    border-radius: 0;
    box-shadow: 0 0 3px #000;
    cursor: default;
    display: none;
    left: 0;
    padding: 6px 12px;
    position: absolute;
    top: 0;
    z-index: 5;
}
.templateHolder .panel:hover .panel-heading {
	display: block;
}
.templateHolder .panel.focus .panel-heading {
	display: none;
}
.templateHolder .panel-heading .btn-group {
	padding-left: 20px;
}
.templateHolder .panel-heading i {
	cursor: pointer;
}
.templateHolder .panel-heading i.glyphicon-align-justify {
	cursor: move;	
}
.templateHolder .panel-body {
	padding: 0;
}
.ui-draggable-dragging {
	list-style: none;
	display: block;
	background: #FFF;
	border: solid 1px #EEE;
	box-shadow: 0 0 3px #000;
	padding: 5px;	
}
.ui-draggable-dragging a {
	text-decoration: none;
}
.ui-sortable-placeholder {
	visibility: visible !important;
	background: #ddd;
}
.img-thumbnail {
	 transition: none 0s ease 0s;
}
#modul_items li a {
	cursor:move;
}
#mediaCollList img {
	 margin: 0 5px 5px 0;	
	 /* disable CSS transitions */
	 transition: none 0s ease 0s;
	 cursor:move;	 
}
