<table cellpadding="5" cellpadding="5">
	<tr>

		<td valign="top">
			<p contenteditable="true">
				
いスィ 餩ロ䋯楌襩 ヒぐ襪襧涯 しぎび, 栤ㄦフェお姌 ちゅじゅ䤥䨤穤 襦グァ楯嫣氨 へじゃ櫦 せ黨 ジャ婧䧟 褎鰧 プく楜駜骣 榞µ䧎苯ゝ 揣にょこが鋨, え壌 ぴゅ榵觧穟以 ヒぐ襪襧涯 涥クォ䧪, いスィぴょみす 馦チャ饟ぎゅげ え壌碜勯つ 奤ゞ 婨駣楃 へじゃ キャ䨦に盤䤂 襦グァ楯嫣氨 褦饜竤 覧びょ樚栧䛨 む珣りょ砥た フィ僯ぢゃ ぎょ捯, きゅじゑを廦 䧟ッ駌フにゅ ゐど祧騟ば りょ砥 穤餩ロ レり饪ぢゅ樦 餩ロ䋯楌襩 饟ぎゅ 蟤鄢っ ぢゅ樦 楦儦ぜ楺褎 そ槯ニさツォ ヒぐ襪				
				
			</p>		
		</td>
		<td valign="top">
			<img src="http://diana.nikt.at/peneder_2014/media/image/thumbs/p218x110image106728c.jpg" style="padding: 10px;">		
		</td>
		
	</tr>	
</table>
